name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    permissions:
      id-token: write
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Set node
        uses: actions/setup-node@v5
        with:
          node-version: lts/*
          cache: pnpm
          registry-url: 'https://registry.npmjs.org'

      - run: npm i -g npm@latest

      - name: Install Dependencies
        run: pnpm i --no-frozen-lockfile

      - name: PNPM build
        run: pnpm run build

      - name: Publish to NPM
        run: pnpm publish --access public --no-git-checks
